<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <div class="card-body p-4">
              <h5>Marie Horwitz</h5>
              <p class="mb-2 text-center">Web Designer</p>
              <div class="col-md-8 mb-3 mx-auto d-flex flex-column align-items-center">
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-3 d-flex justify-content-center">
                    <i class="far fa-edit mb-5"></i>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/profile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Back</a>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/editdetailsprofile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Details</a>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/editskillsprofile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Skills</a>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/editexperienceprofile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Experience</a>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/editeducationprofile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Education</a>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/editcertificatesprofile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Certificates</a>
                   </div>
                 </div>
                 <div class="row pt-1 w-100 justify-content-center">
                   <div class="col-6 mb-4 d-flex justify-content-center">
                    <a [routerLink]="['/editprojectsprofile']" class="btn btn-info px-2 py-1" style="font-size: 0.85rem; min-width: 7.0rem;">Projects</a>
                   </div>
                 </div>
                </div>
            </div>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Education</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                    <div class="col">
                        <h6>University:</h6>
                        <input type="text" class="form-control" placeholder="University" ([ngModel)]="universityName">
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col">
                        <h6>Date From:</h6>
                        <input type="text" class="form-control" placeholder="Date From:" ([ngModel)]="dateFrom">
                    </div>
                    <div class="col">
                        <h6>Date To:</h6>
                        <input type="text" class="form-control" placeholder="Date To:" ([ngModel)]="dateTo">
                    </div>
                </div>
                <div class="row pt-1">
                  <div class="col">
                    <h6>Country, City:</h6>
                    <input type="text" class="form-control" placeholder="Country, City:" ([ngModel)]="countryCity">
                  </div>
                  <div class="col">
                    <h6>Degree:</h6>
                    <input type="text" class="form-control" placeholder="Company:" ([ngModel)]="degree">
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <button type="button" class="btn btn-lg btn-primary" disabled>Refresh</button>
                  </div>
                  <div class="col-6 mb-3">
                    <button type="button" class="btn btn-lg btn-primary"
                            [disabled]="!universityName || !dateFrom || !dateTo || !countryCity || !degree"
                            (click)="updateEducation()">Update</button>
                  </div>
                </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p class="text-muted">Lorem ipsum</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p class="text-muted">Dolor sit amet</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




