<div class="container-fluid">
  <div class="row">
    <!-- Left vertical nav -->
    <div class="col-md-3 col-lg-2 p-0">
      <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column vh-50 align-items-start">
        <a class="navbar-brand ms-3 my-1" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        <nav class="nav nav-pills flex-column w-100">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" routerLink="/editprofile" routerLinkActive="active">Edit-profile</a>
            <a class="nav-link ms-3 my-1" routerLink="/editdetailsprofile" routerLinkActive="active">Edit-details-profile</a>
            <a class="nav-link ms-3 my-1" routerLink="/editskillsprofile" routerLinkActive="active">Edit-skills-profile</a>
            <a class="nav-link ms-3 my-1" routerLink="/editexperienceprofile" routerLinkActive="active">Edit-experience-profile</a>
            <a class="nav-link ms-3 my-1" routerLink="/editeducationprofile" routerLinkActive="active">Edit-education-profile</a>
            <a class="nav-link ms-3 my-1" routerLink="/editprojectsprofile" routerLinkActive="active">Edit-projects-profile</a>
            <a class="nav-link ms-3 my-1" routerLink="/editcertificatesprofile" routerLinkActive="active">Edit-certificates-profile</a>
          </nav>
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
          <a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" routerLink="/signin" routerLinkActive="active">Sign In</a>
            <a class="nav-link ms-3 my-1" routerLink="/signup" routerLinkActive="active">Sign Up</a>
          </nav>
        </nav>
      </nav>
    </div>
    <!-- Main content and router nav -->
    <div class="col-md-9 col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


