<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
  <a routerLink="/editprofile" routerLinkActive="active">Edit-profile</a>
  <a routerLink="/users" routerLinkActive="active">Users</a>
  <a routerLink="/reports" routerLinkActive="active">Reports</a>
  <a routerLink="/signin" routerLinkActive="active">Sign In</a>
  <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
</nav>
<router-outlet></router-outlet>

