version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: patient-postgres
    environment:
      POSTGRES_DB: patient_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - healthcare-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Eureka Server (Service Discovery)
  eureka-server:
    image: springcloud/eureka:latest
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - healthcare-network
    environment:
      - SPRING_PROFILES_ACTIVE=default

  # Patient Service
  patient-service:
    build:
      context: patientservice
      dockerfile: Dockerfile
    container_name: patient-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/patient_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      postgres:
        condition: service_healthy
      eureka-server:
        condition: service_started
    networks:
      - healthcare-network
    restart: on-failure

  analytics-service:
    build:
      context: demo
      dockerfile: Dockerfile
    container_name: analytics-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/analytics_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    networks:
      - healthcare-network
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure


volumes:
  postgres_data:

networks:
  healthcare-network:
    driver: bridge