<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard">Healthcare Portal</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/medical-records">Medical Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/medical-records/new">Create Record</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

